{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    <title>Tech | Membros</title>
</head>
<body>

    <header>
        <img src="{% static 'assets/member.jpeg' %}" alt="Imagens com várias pessoa feita por ia" class="logo">
    </header>

    <main>
        <h1>Área para membros</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae suscipit facere, velit, provident magnam quibusdam quis explicabo ipsam fuga eaque iure voluptas, et repudiandae labore sapiente tempora autem totam.</p>
        <div class="logout-btn-container">
            <a href="http://localhost:8000/accounts/logout" class="logout-btn">LOGOUT</a>
        </div>
    </main>

</body>
</html>